body {
    
    background-color : #72B2AA;
    padding-top: 5%;
    padding-bottom: 2%;
    margin: 2%;
    bottom: 5%;
}



#titletable {
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    width:100%;
    background-color: #B9CDE5;
    text-align:center;
}



#header {
    text-align: center;
    font-size: 50px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}

#subtitle {
    text-align: center;
    font-size: 25px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}



  /*------------------------------------------------------------*/
 /*                    For the login page                      */
/*------------------------------------------------------------*/

#logtitletable {
    width:100%;
    border-spacing: 10px;
}

#logheader {
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    border-left: 4px solid black;
    border-right: 4px solid black;
    
    background-color: #B9CDE5;
    text-align:center;
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}

#loginput {
    
    background-color: #B9CDE5;
    text-align: center;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    border-left: 4px solid black;
    border-right: 4px solid black;
}



  /*------------------------------------------------------------*/
 /*      For the profile of a user : used by seefriends.c      */
/*------------------------------------------------------------*/


/* This is for the blue rectangle thats hold the username */

#usertitle {
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    background-color: #B9CDE5;
}



/* The profile picture style */

#pic{
    
    margin-top : 40px;
    float : right;
    margin-right:10%;
    width:17vw;
    height:15vw;
    border: 5px solid black;
 
}



/* The table holding the full name and job description */

#profile {

    width:55%;
    text-align:center;
    margin-top: 40px;
    margin-left:10%;
}


/* Attribute of the full name style */

#name{
    
    text-align: center;
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;

    background-color:#66B67A;
    
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;

}


/* Attribute of the job style */

#job{
    
    font-size: 30px;
    font-family: Georgia,Times,"Times New Roman",serif;
    
    background-color:#ACD6B7;
    
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;

}


/* Attribute of the table of status */

#statustable{

    width:80%;
    margin-left:auto;
    margin-right:auto;
    margin-top : 40px;
   
}


#statushead{
    background-color: #6685B6;
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;

}

/* Even and odd : to alternate the color */

#status:nth-child(even){
    
    background-color: #9FB6DC;
    font-size: 25px;
    font-family: "Times New Roman", Times, serif;
}

#status:nth-child(odd){
    
    background-color: #CDDBF2;
    font-size: 25px;
    font-family: "Times New Roman", Times, serif;
}

/*------------------------------------------------------------*/

#instr {
    text-align: center;
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    
}

#linkedin {
    text-align:center;
    font-size: 60px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    text-decoration: underline;
}


#headlinks {
    text-align:left;
    font-size: 17px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    text-decoration: underline;
}

  /*------------------------------------------------------------*/
 /*       For listing the friends : used by seefriends.c       */
/*------------------------------------------------------------*/

#friends {
    text-align : left;
    font-size: 30px;
    font-family: Georgia,Times,"Times New Roman",serif;
    text-decoration: italic;
    margin-top : 5%;
    margin-left: 20%;
}
#subfriend  {
    float :right;
    margin-right:20%;
}

  /*------------------------------------------------------------*/
 /*                         For each page                      */
/*------------------------------------------------------------*/
a {
    font-size: 20px;
    color: darkblue;
    text-decoration: italic;
}

a:visited {
    color: blue;
    text-decoration: italic;
}


a:hover {
    color: red;
    text-decoration: italic;
}

input[type=text] {
    background-color: #a6a6a6;
    color: black;
    font-size: 18px;
    padding: 4px;
    margin: 2px;
    box-sizing: content-box;
}

input[type=submit] {
    background-color: lightgray;
    font-size: 20px;
    padding: 6px;
    margin: 2px;
    box-sizing: border-box;
}

input[type=submit]:hover {
    background-color: gray;
    color: white;
}

input[type=radio]{
    vertical-align: middle;
    margin-right:20px;
}




