body {
	font-size: 20px;
	font-style: Arial, serif, Times New Roman, sans-serif;
	background-color: lightgreen;
}

a {
	color: blue;
	text-decoration: italic;
}

a:visited {
	color: red;
	text-decoration: italic;
}

a:hover {
	color: lightblue;
	text-decoration: italic;
}

h1 {
	text-align: center;
	font-size: 54px;
	font-family: "Courier New", Courier, serif;
}

p {
	text-align: left;
	font-size: 20px;
}

f1 {
	font-size: 12px;
}

table, th, td {
	border: 0;
	width=100%;
	
}

th {
	text-align: center;
	vertical-align: center;
	font-size: 28px;
	font-family: "Courier New", Courier, serif;
}

td {
	text-align: center;
	font-size: 20px;
	font-family: Arial;
}

input[type=text] {
	background-color: lightblue;
	font-size: 18px;
	padding: 4px;
	margin: 2px;
	box-sizing: content-box;
}

input[type=submit] {
	background-color: lightgray;
	font-size: 20px;
	padding: 6px;
	margin: 2px;
	box-sizing: border-box;
}

input[type=submit]:hover {
	background-color: gray;
	color: white;
}
